# Perform LF normalization
* text eol=lf

*.aac binary
*.ai binary
*.chm binary
*.dll binary
*.hlp binary
*.gif binary
*.gz binary
*.exe binary
*.ico binary
*.jpg binary
*.mp3 binary
*.msi binary
*.ogg binary
*.pdf binary
*.png binary
*.psd binary
*.spl binary
*.sys binary

*.eot binary
*.ttf binary
*.woff binary
*.woff2 binary
