.navbar {
    background-image: -webkit-linear-gradient(#A292D3,#8476ad 60%,#736796);
    background-image: linear-gradient(#A292D3,#8476ad 60%,#736796);
    background-repeat: no-repeat;
    border-bottom: 1px solid #736796;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff54b4eb',endColorstr='#ff1d9ce5',GradientType=0);
    filter: none;
    -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
    box-shadow: 0 1px 10px rgba(0,0,0,0.1);
}
.navbar-default {
    background-color: #8476ad;
    border-color: #736796;
}
